body {
    padding: 10px;
}
.head {
    white-space: nowrap;
    position: relative;
    img, .title {
        display: inline-block;
    }
    .title {
        margin: 0 40px 0 10px;
        line-height: 38px;
        font-weight: bold;
    }
    .fa-cog {
        font-size: 20px;
        position: absolute;
        top: 10px;
        right: 0;
        cursor: pointer;
        opacity: .5;
        &:hover {
            opacity: 1;
            transition: all 0.2s;
        }
    }
}
.menu {
    padding: 0;
    margin: 15px 0;
    li {
        background-color: #5e3b1b;
        display: block;
        padding: 3px;
        font-size: 14px;
        color: #fff;
        border: 1px solid #cec4ba;
        text-align: center;
        &:hover {
            cursor: pointer;
            background-color: #7e4716;
            transition: all 0.2s;
        }
        a {
            color: #fff;
            text-decoration: none;
        }
    }
}
.info {
    margin: 10px 0 0;
    font-size: 13px;
    tr {
        td:last-child {
            min-width: 115px;
        }
    }
}
.on-off-countdown {
    float: right;
    .ui-switcher {
        margin: 0;
    }
}
