<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ieyasu Plus Options</title>
        <link href="../assets/dist/css/setting.min.css" rel="stylesheet">
    </head>

    <body>
        <div class="container" id="app">
            <header>
                <img src="../assets/dist/img/icon-38.png"/>
                <strong><span class="title">Ieyasu Plus</span></strong>
                Setting
            </header>

            <hr/>

            <div class="option-list">
                <form>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">
                            Working days
                        </label>

                        <div class="col-auto">
                            <label v-for="(workDayLabel, index) in workingDaysLabel" class="day-in-week">
                                <input type="checkbox" v-model="workingDays" v-bind:value="index" />
                                {{ workDayLabel }}
                            </label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">
                            Start time working days
                        </label>

                        <div class="col-auto">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Hours</div>
                                </div>
                                <select class="form-control" v-model="workStartHours">
                                    <option v-for="option in hoursOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                    </option>
                                </select>
                            </div>

                            <p class="text-danger">{{ errors.workTimeStart }}</p>
                        </div>

                        <div class="col-auto">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Minutes</div>
                                </div>
                                <select class="form-control" v-model="workStartMinutes">
                                    <option v-for="option in minutesOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                    </option>
                                </select>
                            </div>

                            <p class="text-danger">{{ errors.workTimeStart }}</p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">
                            End time working days
                        </label>

                        <div class="col-auto">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Hours</div>
                                </div>
                                <select class="form-control" v-model="workEndHours">
                                    <option v-for="option in hoursOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                    </option>
                                </select>
                            </div>

                            <p class="text-danger">{{ errors.workTimeStart }}</p>
                        </div>

                        <div class="col-auto">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Minutes</div>
                                </div>
                                <select class="form-control" v-model="workEndMinutes">
                                    <option v-for="option in minutesOptions" v-bind:value="option.value">
                                        {{ option.text }}
                                    </option>
                                </select>
                            </div>

                            <p class="text-danger">{{ errors.workTimeStart }}</p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">
                            Desktop notifications
                        </label>

                        <div class="col-auto">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="turn-on-notification"
                                    v-model="isNotification" true-value="1" false-value="0"
                                />
                                <label class="form-check-label" for="turn-on-notification">
                                    Turn on desktop notifications
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">
                            Using new style
                        </label>

                        <div class="col-auto">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="use-new-style"
                                    v-model="isUseNewStyle" true-value="1" false-value="0"
                                />
                                <label class="form-check-label" for="use-new-style">
                                    Support check time
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="move-action-btn"
                                       v-model="isMoveActionButton" true-value="1" false-value="0"
                                />
                                <label class="form-check-label" for="move-action-btn">
                                    Move the action button to the next hour total
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="offset-sm-3 col-auto">
                            <button type="button" class="btn btn-primary" v-on:click="saveSetting">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <script src="../assets/dist/js/core.setting.min.js"></script>
        <script src="../assets/dist/js/setting.min.js"></script>
    </body>
</html>
