.note-plus {
    position: fixed;
    right: 0;
    top: 100px;
    z-index: 9999;
    background: #fff;
    .up {
        width: 20px;
        height: 20px;
        display: block;
        position: relative;
        cursor: pointer;
        .fa {
            font-size: 20px;
            width: 100%;
            height: 100%;
            &:before {
                text-align: center;
                width: 100%;
                height: 100%;
                display: block;
            }
        }
    }
}